<section class="courses">
    <div class="main">
        <app-navbar></app-navbar>

        @if(loginService.isAdmin){
        <!-- student settings -->
        <div class="container setting">
            <button class="btn btn-dark" (click)="showForm(form, $event, duration, date)">Add</button>
            <!-- <button class="btn btn-dark" (click)="update(form, $event)">Update</button> -->
            <button class="btn btn-dark del" (click)="delCard(form, $event)">Delete</button>
        </div>
        }

        <!-- form for teacher -->
        <div class="form" #form>
            <form action="" (submit)="onSubmit($event)">
                <p>{{title}} Exam</p>
                <select class="form-select" style="width: fit-content;" aria-label="Default select example" (change)="selectBatch2($event)" #batchId>
                    <option selected class="fw-bold">Select Subject</option>
                    @for (course of courses.courses; track $index) {
                        <option [value]="course.id">{{course.title}}</option>
                    }
                </select>
                <input type="text" name="duration" id="duration" placeholder="Exam Duration" autocomplete="off" #duration>
                <input type="text" name="date" id="date" placeholder="Exam Date" autocomplete="off" #date>
                <div class="btns">
                    <button class="btn btn-dark">{{btn}}</button>
                    <button class="btn btn-dark del ms-4" (click)="showForm(form, $event, duration, date)">Cancel</button>
                </div>
            </form>
        </div>


        <!-- alert -->
        <div class="alert alert-dark alert-dismissible fade show" role="alert" [style.transform]="alert ? 'translateY(50px)' : 'translateY(-100px)'">
            {{sentence}}
            <button type="button" class="btn-close" (click)="closeAlert()"></button>
        </div>


        <!-- table for teachers -->
        @if (loginService.isAdmin) {
            <div class="container teacher-table">
                <div class="details">
                    <p class="ms-3">Name</p>
                    <p class="me-2 ms-4">Exam Duration</p>
                    <p>Exam Date</p>
                </div>
                @for (exam of exams.exams; track $index) {
                    <div class="table" (click)="cardClicked(exam)" [style.boxShadow]="selectedDiv === exam.id ? '5px 2px 15px 2px black' : ''" >
                        <p class="ms-2"><span>{{$index + 1}}</span> {{exam.title}}</p>
                        <p>{{exam.exam_Duration}}</p>
                        <p>{{(exam.exam_Date).split('T')[0]}}</p>
                    </div>
                }
            </div>
        } @else {
            <div class="container teacher-table">
                <div class="details">
                    <p class="ms-3">Name</p>
                    <p class="me-2 ms-4">Exam Duration</p>
                    <p>Exam Date</p>
                </div>
                @for (batch of batches.batches; track $index) {
                    @if(batch.name === loginService.student.batchName) {
                        @for(exam of exams.exams; track $index) {
                            @if(exam.batchId === batch.id){
                                <div class="table">
                                    <p class="ms-2"><span>{{$index + 1}}</span> {{exam.title}}</p>
                                    <p>{{exam.exam_Duration}}</p>
                                    <p>{{(exam.exam_Date).split('T')[0]}}</p>
                                </div>
                            }
                        }
                    }
                }
            </div>
        }
    </div>
</section>