<div class="info">
    <p>Helwan University</p>
    <div class="profile">
        <i class="fa-solid fa-bell"></i>
        <div class="admin">
            <img src="../../assets/profile.jpg" alt="Profile">
            <div class="adminName">
                @if (loginService.isAdmin) {
                    <p>admin</p>
                    <p>Admin</p>
                }
                @else {
                    <p>{{loginService.student.name}}</p>
                    <p>Student</p>
                }
            </div>
        </div>
    </div>
</div>