<section class="timetable">
    <div class="main">
        <app-navbar></app-navbar>

        <!-- TimeTable Section -->
        <div class="container mt-5">
            <h1 class="text-center mb-4">TimeTable</h1>
            <form action="">
                <div class="row">
                    <!-- First Term Column -->
                    <div class="col-md-6">
                        <h3 class="text-center">First Term</h3>
                        <div class="mb-3">
                            <label for="sem1-start" class="form-label">Beginning of First Semester</label>
                            <input type="text" class="form-control" id="sem1-start" value="5-09-2024">
                        </div>
                        <div class="mb-3">
                            <label for="midterm1" class="form-label">Midterm</label>
                            <input type="text" class="form-control" id="midterm1" value="15-10-2024">
                        </div>
                        <div class="mb-3">
                            <label for="final1" class="form-label">Final Exams</label>
                            <input type="text" class="form-control" id="final1" value="25-12-2024">
                        </div>
                    </div>
                    <!-- Second Term Column -->
                    <div class="col-md-6">
                        <h3 class="text-center">Second Term</h3>
                        <div class="mb-3">
                            <label for="sem2-start" class="form-label">Beginning of Second Semester</label>
                            <input type="text" class="form-control" id="sem2-start" value="29-01-2025">
                        </div>
                        <div class="mb-3">
                            <label for="midterm2" class="form-label">Midterm</label>
                            <input type="text" class="form-control" id="midterm2" value="15-02-2025">
                        </div>
                        <div class="mb-3">
                            <label for="final2" class="form-label">Final Exams</label>
                            <input type="text" class="form-control" id="final2" value="25-04-2025">
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-dark">Save</button>
                </div>
            </form>
        </div>


    </div>
</section>