<section class="courses">
    <div class="main">
        <app-navbar></app-navbar>

        @if(loginService.isAdmin) {
        <!-- student settings -->
        <div class="container setting">
            <button class="btn btn-dark" (click)="showForm(form, $event, name, hours)">Add</button>
            <button class="btn btn-dark del" (click)="delCard(form, $event)">Delete</button>
        </div>
        }

        <!-- form for teacher -->
        <div class="form" #form>
            <form action="" (submit)="onSubmit($event)">
                <p>{{title}} Course</p>
                <input type="text" name="name" id="name" placeholder="Name" autocomplete="off" #name>
                <input type="text" name="hours" id="hours" placeholder="Hours" autocomplete="off" #hours>
                <select class="form-select" style="width: fit-content;" aria-label="Default select example" (change)="selectBatch2($event)" #batchId>
                    <option selected class="fw-bold">Select Batch</option>
                    @for (batch of batches.batches; track $index) {
                        <option [value]="batch.id">{{batch.name}}</option>
                    }
                </select>
                <div class="btns">
                    <button class="btn btn-dark">{{btn}}</button>
                    <button class="btn btn-dark del ms-4" (click)="showForm(form, $event, name, hours)">Cancel</button>
                </div>
            </form>
        </div>


        <!-- alert -->
        <div class="alert alert-dark alert-dismissible fade show" role="alert" [style.transform]="alert ? 'translateY(50px)' : 'translateY(-100px)'">
            {{sentence}}
            <button type="button" class="btn-close" (click)="closeAlert()"></button>
        </div>


        <!-- table for teachers -->
        @if (loginService.isAdmin) {
            <div class="container teacher-table">
                <div class="details">
                    <p class="ms-3">Name</p>
                    <p class="me-3">Batch</p>
                </div>
                @for (course of courses.courses; track $index) {
                    <div class="table" (click)="cardClicked(course)" [style.boxShadow]="selectedDiv === course.id ? '5px 2px 15px 2px black' : ''" >
                        <p class="ms-2"><span>{{$index + 1}}</span> {{course.title}}</p>
                        <p class="me-2">{{course.batchName}}</p>
                    </div>
                }
            </div>
        } @else {
            <div class="container teacher-table">
                <div class="details">
                    <p class="ms-3">Name</p>
                    <p class="me-3">Batch</p>
                </div>
                @for (course of courses.courses; track $index; let e = $index) {
                    @if(course.batchName === loginService.student.batchName) {
                        <div class="table">
                            <p class="ms-2"><span>{{e}}</span> {{course.title}}</p>
                            <p class="me-2">{{course.batchName}}</p>
                        </div>
                    }
                }
            </div>
        }
    </div>
</section>