<section class="adminPage">
    <div class="main">
            <app-navbar></app-navbar>
            <!-- welcome part -->
            <div class="welcomeCont">
                <div class="container">
                    <div class="welcome">
                        <p>{{formattedDate}}</p>
                        @if (loginServic.isAdmin) {
                            <h1>Welcome back, admin!</h1>
                        }
                        @else{
                            <h1>Welcome back, {{loginServic.student.name}}!</h1>
                        }
                        <p>Always Stay Updated.</p>
                    </div>
                </div>
            </div>

            <!-- NumbersPart -->
            <div class="numbersCount">
                <div class="boxes">
                    <div class="box">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <div class="number">
                            <h3>Total Students</h3>
                            <p>20</p>
                        </div>
                    </div>
                        <div class="box">
                            <i class="fa-solid fa-user-group"></i>
                            <div class="number">
                                <h3>Total Teachers</h3>
                                <p>5</p>
                            </div>
                        </div>
                            <div class="box">
                                <i class="fa-solid fa-user-group"></i>
                                <div class="number">
                                    <h3>Total Employees</h3>
                                    <p>20</p>
                                </div>
                            </div>
                                <div class="box">
                                    <i class="fa-solid fa-book"></i>
                                    <div class="number">
                                        <h3>Total Courses</h3>
                                        <p>5</p>
                                    </div>
                                </div>
                </div>
            </div>
    </div>
</section>