<section class="dashboard" #dash>
        <div class="cont">
            <img src="../../assets/Helwan.png" alt="Helwan University">
            <div class="icon">
                <i class="fa-solid fa-house"></i>
                <a routerLink="/dashboard">Dashboard</a>
            </div>
            @if(loginService.isAdmin) {
                <div class="icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <a routerLink="/students">Students</a>
                </div>
            } @else {
                <div class="icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <a routerLink="/student">Student</a>
                </div>
            }
            <div class="icon">
                <i class="fa-solid fa-user-group"></i>
                <a routerLink="/teachers">Professors</a>
            </div>
            <div class="icon">
                <i class="fa-solid fa-book"></i>
                <a routerLink="/courses">Courses</a>
            </div>
            <div class="icon">
                <i class="fa-solid fa-pen-to-square"></i>
                <a routerLink="/exams">Exams</a>
            </div>
            @if(loginService.isAdmin) {
                <div class="icon">
                    <i class="fa-solid fa-table"></i>
                    <a routerLink="/batches">Batches</a>
                </div>
            }
        </div>
        <div class="cont">
            @if (loginService.isAdmin) {
                <div class="icon">
                    <i class="fa-solid fa-circle-info"></i>
                    <a routerLink="/help">Help</a>
                </div>
            } @else {
                <div class="icon">
                    <i class="fa-solid fa-circle-info"></i>
                    <a routerLink="/Help">Help</a>
                </div>
            }
            <div class="icon">
                <i class="fa-solid fa-right-from-bracket"></i>
                <a routerLink="" (click)="logout()">Logout</a>
            </div>
        </div>
</section>

<i class="fa-solid fa-xmark xmark" #xmark (click)="toggleSidebar(dash, xmark)"></i>
<i class="fa-solid fa-bars free" (click)="toggleSidebar(dash, xmark)"></i>